.Footer {
    grid-area: footer;

    display: flex;
    justify-content: center;
    gap: 3rem;

    font-weight: lighter;
    opacity: 50%;
}

@media (orientation: portrait) {
    .Footer {
        justify-content: space-around;
        gap: 0 !important;
    }
}

.Footer > p {
    user-select: none;
    cursor: pointer;
}