.Advertisement {
    display: block;
    position: relative;
}

.Advertisement.left {
    grid-area: left-ad;
    justify-self: left;
    margin-left: 10px;
}

.Advertisement.right {
    grid-area: right-ad;
    justify-self: right;
    margin-right: 10px;
}

@media (orientation: portrait) {
    .Advertisement.left {
        display: none;
    }
    .Advertisement.right {
        display: none;
    }
}

.Advertisement.leaderboard {
    grid-area: leaderboard;
    width: 100%;
    max-height: 4em;
}

@media (orientation: landscape) {
    .Advertisement.leaderboard {
        display: none;
    }
}

.publift-widget-sticky_footer-container {
    left: 50% !important;
    translate: -50% 0;
    width: auto !important;
}