.Advertisement {
    width: 160px;
    height: 600px;
    display: block;
    position: relative;
}

.Advertisement.left {
    grid-area: left-ad;
}

.Advertisement.right {
    grid-area: right-ad;
}

.Advertisement.leaderboard {
    grid-area: leaderboard;
    width: 100%;
    max-height: 4em;
}
